* {
  margin: 0;
  padding: 0; }

/*  HEADER  */
/*anidamiento*/
header {
  background-color: #F3C5DF;
  color: white;
  text-align: center; }
  header nav div a {
    list-style-type: none;
    text-decoration: none;
    color: black; }
    header nav div a:hover {
      color: white; }

.navbar-brand:hover {
  /*NO ENTENDI COMO METERLO EN EL ANIDAMIENTO*/
  transform: rotate(360deg);
  transition: 1s transform linear; }

/*  MAIN  */
main {
  text-align: center; }
  main h1 {
    background-color: #f8ddec;
    width: 100%; }

.imagenes-x {
  height: 175px;
  width: 175px; }

.container-boton {
  background-color: #2E6329;
  border: 1px solid white;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 25px;
  right: 20px;
  padding: 20px; }

.boton {
  width: 40px; }

.imagenes-inicio {
  height: 300px;
  width: 300px;
  padding-top: 5px; }

/*  FOOTER  */
footer {
  position: absolute;
  padding-top: 100px;
  width: 100%;
  height: 40px; }

.footer-container {
  background-color: #F3C5DF;
  color: white; }

.footer-main {
  margin: auto;
  padding: 50px 0;
  display: inline-block; }

.footer-main .footer-columna {
  width: calc(98% /3);
  text-align: center;
  display: inline-block; }

.footer-main .footer-columna h3 {
  font-size: 32px;
  color: #44093c;
  margin-bottom: 20px;
  text-align: center; }

.footer-main .footer-columna input[type="email"] {
  border: none;
  border: 1px solid #44093c;
  font-size: 14px;
  padding: 10px; }

.footer-main .footer-columna input[type="submit"] {
  border: none;
  background: #44093c;
  color: white;
  padding: 10px 40px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer; }

.footer-main .footer-columna div p {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 15px; }

/* FOOTER COPY AND REDES */
.footer-copy-redes {
  background: #000;
  border-top: 3px solid #fff; }

.main-copy-redes {
  width: 100%;
  max-width: 1000px;
  padding: 15px 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.main-copy-redes .footer-copy {
  width: 70%;
  color: white; }

.main-copy-redes .footer-redes {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.main-copy-redes .footer-redes a {
  display: inline-block;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: white;
  color: black;
  text-align: center; }
