main{
    text-align: center;
}

h1,h2{
    background-color: #f8ddec;
    color: black;
    width: 100%;
}


h6{
    padding-top: 5px;
    font-family: 'Alkalami', serif;
}


.imagenes-x{
    height: 200px;
}

.container-boton{
    background-color: #2E6329;
    border: 1px solid white;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 25px;
    right: 20px;
    padding: 20px;
    }
    
.boton{
    width: 40px;
}


.imagenes-inicio{
    height: 500px;
    padding-top: 5px;
    
}
